.masked-input-display {
    display: flex;
}
.masked-input-control,
.editing-grid-table .masked-input-control {
    color: transparent !important;
    background-color: transparent !important;
    caret-color: var(--f-text);
}
.disclosure-section > summary {
    display: flex;
}
.disclosure-section > summary::-webkit-details-marker {
    display: none;
}
